<header>
  <nav class="navbar sticky-top navbar-expand-lg" id="navbar">
    <a href="/" class="navbar-brand mb-0 ml-5 mt-0">
      <img class="d-inline-block align-center mb-1" src="../../images/logo/logo.png" height="35" width="35" alt="taste-logo">
      <span class="logo-text">taste</span></a>
      <form class="form-inline my-2 my-lg-0 ml-3" action="/search">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-light" type="submit"><iconify-icon inline icon="il:search"></iconify-icon></iconify-icon></button>
      </form>
  
      <ul class="navbar-nav mx-auto">
        <li class="nav-item mt-2  ml-5">
          <a class="nav-link " href="/" aria-current="page">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown mt-2 ml-2" id="browse-dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Review
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/createreview">Create Review</a>
            <a class="dropdown-item" href="/editreview">Edit Review</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mr-3">
        <li class="nav-item dropdown mr-5" id="browse-dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Profile">
            <img src="../../images/aboutus/Coloma.jpg" alt="defaultDP"  class="img-DP white-border" class="">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <h6 class="dropdown-header">@username</h6>
            <a class="dropdown-item" href="/profile">View Profile</a>
            <a class="dropdown-item" href="/landingpage">Log Out</a>
          </div>
        </li>
    </ul>
  </nav>
</header>
