<header>
    <nav class="navbar sticky-top navbar-expand-lg" id="navbar">
        <a href="/landingpage" class="navbar-brand mb-0 ml-5 mt-0">
            <img class="d-inline-block align-center mb-1" src="images\logo\logo.png" height="35" width="35" alt="taste-logo">
            <span class="logo-text">taste</span></a>
        <ul class="navbar-nav ml-auto mr-5">
            <li class="nav-item dropdown mt-1" id="browse-dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Review
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/">Browse Reviews</a>
                    <a class="dropdown-item" href="/review/create">Create Review</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link" id="aboutus-button">About Us</a>
            </li>
            <li class="nav-item ml-3">
                <a href="/login" class="btn btn-outline-light" id="login-button">Log In</a>
            </li>

            <li class="nav-item ml-3">
                <a href="/signup" class="btn btn-danger" id="signup-button">Sign Up</a>
            </li>
        </ul>
    </nav>
</header>