<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=PT+Sans&display=swap');
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="icon" href="images/logo/logo2.png" type="image/icon type">
    <title>
        About Us
    </title>
</head>

<body>
    <div id="about-us-page" class="container-xxl">
        <!--Navigation Bar-->
        <!--HEADER-->
        <%- include('partials/landing_header') %>

            <!--About Us-->
            <div id="about-us">
                <h2 id="title">About Us</h2>
                <hr class="hr-line">
                <p id="card-text">
                    This platform was inspired by 3 founding members who have always loved food. They also love to give reviews and posts about food. Their dream is to taste different foods and discover and evaluate them. With that being said they have decided to create
                    Taste. Taste is an online community platform where users can post about the food they tried. Through this platform, they can share their reviews and even links or places where they bought the food. Users can comment, interact and even
                    give their reviews or experience of the food posted by other users. The platform can be used to create a safe environment for Sellers and Buyers where they can interact with each other.
                </p>
            </div>
            <div class="packages">
                <h2 id="title-package">NPM Packages Used</h2>
                <hr class="hr-line">
                <ul>
                    <li><span>Bcrypt</span></li>
                    <li><span>body-parser</span></li>
                    <li><span>bootstrap-icons</span></li>
                    <li><span>connect-mongodb-session</span></li>
                    <li><span>date-and-time</span></li>
                    <li><span>dateformat</span></li>
                    <li><span>ejs</span></li>
                    <li><span>express</span></li>
                    <li><span>express-fileupload</span></li>
                    <li><span>express-session</span></li>
                    <li><span>mongoose</span></li>
                    <li><span>nodemon</span></li>

                </ul>
            </div>

            <div class="box">
                <h2 class="card-group-title">Our Developers</h2>
                <hr class="hr-line">

                <div class="row mt-5">
                    <div class="developers card">
                        <div class="avatar-container"> <img class="avatar card-img-top" src="images/aboutus/Clemente.jpg" alt="person1"> </div>
                        <div class="card-body">
                            <div class="card-title">
                                Andres F. Clemente
                            </div>
                            <div class="card-text">
                                <ul class="card-desc">
                                    <li>Studies in DLSU - BS CS-ST</li>
                                    <li>Developer</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="developers card">
                        <div class="avatar-container"><img class="avatar card-img-top" src="images/aboutus/Co.jpg" alt="person1"></div>
                        <div class="card-body">
                            <div class="card-title">
                                Keith Nicolaj Y. Co
                            </div>
                            <div class="card-text">
                                <ul class="card-desc">
                                    <li>Studies in DLSU - BS IT</li>
                                    <li>Developer</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="developers card">
                        <div class="avatar-container"><img class="avatar card-img-top" src="images/aboutus/Coloma.jpg" alt="person1"></div>
                        <div class="card-body">
                            <div class="card-title">
                                Louis Gabriel U. Coloma
                            </div>
                            <div class="card-text">
                                <ul class="card-desc">
                                    <li>Studies in DLSU - BS IT</li>
                                    <li>Webpage Designer</li>
                                    <li>Developer</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <a href="/landingpage"><button type="button" class="btn btn-outline-secondary mt-5">Back</button></a>
            </div>


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>