@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

a {
    text-decoration: none;
}

.home-heading {
    color: white;
}

.home-heading a {
    color: white;
}

.logo-text {
    color: white;
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 46px;
    letter-spacing: -0.02em;
}

.navbar {
    background-color: #BDC89C;
}

.nav-link {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 16px;
}

#aboutus-button {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 16px;
    line-height: 33px;
}

#aboutus-button:hover {
    color: #DC6769 !important;
}

#login-button {
    border: 1px solid white;
    border-radius: 10px;
    padding: 6px 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 33px;
    color: white;
    /* identical to box height */
    letter-spacing: -0.02em;
}

.nav-item a:hover {
    color: #DC6769 !important;
}

#navbarDropdown {
    color: pink;
}

.btn-outline-dark :hover {
    background-color: gray;
}

#signup-button {
    border: none;
    border-radius: 10px;
    padding: 6px 18px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 16px;
    line-height: 33px;
    /* identical to box height */
}

.btn-danger {
    background-color: #DC6769;
}

#browse-dropdown {
    color: white;
}

.dropdown-item {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

.carousel-item {
    height: 38rem;
}

#featured-text {
    font-weight: 600;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

#restaurant_name {
    font-weight: 600;
}

.checked {
    color: #DC6769;
}

.stars {
    justify-content: start;
}

.header-account {
    display: flex;
    float: left;
    align-items: center;
}

.username-header {
    color: black;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
}

.username-mainheader a {
    color: black;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
}

.ellipsis {
    float: right;
    margin-top: 10px;
}

.ellipsis-dropdown {
    border: none;
    outline: none;
    background: none;
}

.ellipsis-dropdown:focus {
    border: none;
    outline: none;
}

.username-mainheader a {
    text-decoration: none;
}

.username-mainheader a:hover {
    color: #DC6769;
    border-bottom: 1px solid #DC6769;
}

#username {
    color: black;
}

.img-DP {
    height: 40px;
    width: 40px;
    border: 2px solid #BDC89C;
    border-radius: 50%;
    object-fit: cover;
}

.large-dp {
    height: 50px;
    width: 50px;
}

.card-text {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

.body-header {
    display: flex;
}

.body-rating {
    margin-left: auto;
    font-weight: 400;
}

#card-body-home {
    text-align: left;
}

#body-card {
    float: left;
}

.like-icon {
    float: left;
}

.like-icon:hover {
    color: #DC6769;
}

#logo-text {
    color: white;
    font-size: 2.1rem;
    font-weight: 800;
    line-height: 46px;
    letter-spacing: -0.02em;
}

#taste-logo {
    margin: 10px auto;
    padding: 0;
    text-decoration: none;
    text-align: center;
}

#about-navbar {
    margin: auto;
    border-bottom: 1px solid lightgray;
    background-color: #BDC89C;
}

#about-us {
    margin: 75px auto;
    text-align: center;
    width: 50%;
}

.title {
    font-weight: 800;
}

.box {
    width: 75%;
    margin: 100px auto;
}

.developers {
    max-width: 300px;
    margin: 25px auto;
}

.card-group-title {
    text-align: center;
}

.hr-line {
    background-color: #000000;
    height: 2px;
    width: 100%;
    align-items: center;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.card-body {
    text-align: center;
}

.card-desc {
    list-style: none;
    padding: 0;
    margin: 0;
}

#card-text {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

.card-text {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

#search-box {
    border-radius: 10px;
}

.input-group-text {
    background-color: white;
}

.input-group-prepend {
    border-radius: 10px;
}

.input-group {
    border-radius: 10px;
}

.white-border {
    border: 1px solid white;
}

.active-link {
    color: white;
}

.navbar-nav>li {
    float: left;
    position: relative;
}

.nav-item.active {
    border-bottom: 2px solid white;
}

.card {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
}

#date {
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
}

.btn btn-light {
    border: 0;
}

.text-muted {
    font-size: 15px;
}

.card-title a {
    color: black;
}

.card-title a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
}


/* comments footer */

.comment-footer {
    display: flex;
    float: left;
    align-items: center;
    width: inherit;
}

.comment-footer a {
    color: black;
    font-weight: 600;
    margin-left: 10px;
}

.comment-footer a {
    text-decoration: none;
}

.comment-footer.img-DP a:hover {
    color: #DC6769;
    border-bottom: 1px solid #DC6769;
}

.username-footer {
    font-size: 12px;
    margin-right: 10px;
}

#comment {
    font-size: 12px;
    font-weight: 400;
    margin-left: 12px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}


/* Create Review Styles */

.form-heading {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 600;
}

#submit-button {
    border: none;
    border-radius: 10px;
    padding: 6px 18px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 16px;
    line-height: 33px;
    /* identical to box height */
}

.nav-active {
    color: white;
}

.card-home {
    min-height: 400px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}


/* View Post style */

.viewpost-dp {
    height: 150px;
    width: 150px;
}

.header-viewpost {
    display: flex;
    align-items: center;
}

.username-viewpost a {
    font-size: 22px;
    color: black;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
}

.username-viewpost a {
    text-decoration: none;
}

.username-viewpost a:hover {
    color: #DC6769;
    border-bottom: 1px solid #DC6769;
}

.img-viewpost {
    width: 100%;
    height: 40vw;
    object-fit: cover;
    border-radius: 10px;
}

.comment-viewpost {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: inherit;
}

.comment-viewpost a {
    color: black;
    font-weight: 600;
    margin-left: 10px;
}

.comment-viewpost a {
    text-decoration: none;
}

.comment-viewpost.img-DP a:hover {
    color: #DC6769;
    border-bottom: 1px solid #DC6769;
}

#comment-viewpost {
    font-size: 26px;
    font-weight: 400;
    margin-left: 12px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

#likes-text {
    margin-left: 5px;
    margin-right: 5px;
}

.page-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.reactions {
    display: flex;
    float: right;
}

.likes {
}

#like-button {
    border: none;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 16px;
    line-height: 33px;
}

.bi {
    height: 35px;
    width: 35px;
}

#btn-roll1{
    padding: 0;
}

#btn-roll2{
    padding: 0;
}